*.dSYM
*.o
*.lo
Makefile
Makefile.in
autom4te.cache
aclocal.m4
.deps
.libs
*_err.h
hdsTest
*.log
*.trs
hds_ctest.sdf
build-aux
configure
config.h
config.h.in
*.la
make-hds-types
stamp-h1
starconf.status
config.status
libtool
componentinfo.dtd
fac_200_err
hds_types.h
*~
.*.swp
/make.log.err
hds1_types.h
