*.o
*.lo
Makefile
Makefile.in
autom4te.cache
aclocal.m4
.deps
.libs
*_ERR
*_err.h
DAT_PAR
dat_par.h
dat_par_h
dat_par_f
hdsTest
*.log
*.trs
hds_ctest.h5sdf
build-aux
configure
config.h
config.h.in
*.la
make-hds-types
stamp-h1
starconf.status
config.status
libtool
componentinfo.dtd
